{% extends 'layout.html' %}

{% block content %}
<h2>Lista de Produtos</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto[1] }}</td>
            <td>{{ produto[2] }}</td>
            <td>{{ produto[3] }}</td>
            <td>
                <a href="{{ url_for('remover', id=produto[0]) }}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
