<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>Gestão de Estoque</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('adicionar') }}">Adicionar Produto</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>© 2024 Gestão de Estoque</p>
    </footer>
</body>
</html>
